body {
  margin: 0;
  font-family: sans-serif;
  background: #020617;
  color: white;
}

header {
  background: #020617;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #38bdf8;
  text-decoration: none;
  margin-left: 15px;
}

.hero {
  text-align: center;
  padding: 60px;
}

button {
  background: #38bdf8;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
}
